# Sanity Project Credentials
NEXT_PUBLIC_SANITY_PROJECT_ID=abcd
NEXT_PUBLIC_SANITY_DATASET=production/development

# Sanity Read Token (Required for Live Edit/Preview mode)
# Create a token in Sanity Manage dashboard (https://manage.sanity.io/) under API settings with Viewer/Read permissions
SANITY_API_READ_TOKEN=

# Sanity Revalidation Webhook Secret
# Set a random string secret here and use the same secret when creating a webhook in Sanity Manage dashboard (API -> Webhooks)
# Webhook URL: https://<your-vercel-domain>.vercel.app/api/revalidate
SANITY_REVALIDATE_SECRET=secretkey
